.listDiv {
  ul {
    padding: 2px;
    // height: 200px;
    position: absolute;
    z-index: 1;
    width: 193px;
    background-color: #ffffff;
    margin-top: 5px;
    display: none;
  }

  .dropDownList {
    border-bottom: 1px solid;
    cursor: pointer;
    height: 25px;
  }
}

input:focus + ul {
  display: block !important;
}

.form-control:focus + ul {
  display: block !important;
}
